.LoginPage_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0 0 20px 10px rgb(0 0 0 / 30%);
}

.modeToggleBtn {
  position: absolute;
  top: 10px;
  right: 20px;
}

.guideText {
  font-size: 25px;
  font-weight: bold;
  animation: floating 2s ease-in-out infinite alternate both;
}

@keyframes floating {
  from {
    transform: translateY(0%);
    opacity: 0.7;
  }
  to {
    transform: translateY(-20%);
  }
}

.signInAni {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

.signUpAni {
  animation: fadeIn2 1.5s;
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

.signInUpSpace {
  position: relative;
  display: flex;
  align-items: center;
  width: 50vw;
  min-width: 600px;
  height: 300px;
  padding: 50px 30px;
  border-radius: 60px;
  margin-top: 20px;
  overflow: hidden;
  background-color: rgb(30 30 38 / 0%);
  box-shadow: 0 0 10px gray;
}

.sliderFrame {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: rgb(3 143 255 / 20%);
  backdrop-filter: blur(30px);
  transition: left 0.5s;
  z-index: 1;
}

.inUpToggle {
  left: 0%;
}

.signUpMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  animation: signUpMessage 5s forwards ease-in-out;
}

@keyframes signUpMessage {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.signInSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 85%;
}

.signInText {
  width: 70%;
  font-size: 20px;
  font-weight: bold;
}

.inputSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 250px;
}

.inputEachSpace {
  position: relative;
  display: flex;
  justify-content: center;
  width: 75%;
}

.signInErrorMessage,
.signUpErrorMessage {
  position: absolute;
  height: fit-content;
  font-size: 12px;
  color: #ff4e4e;
  font-weight: bold;
}

.signInErrorMessage {
  bottom: -22px;
  left: 5px;
}

.signUpErrorMessage {
  top: -20px;
  left: 5px;
}

.errorMessageAni {
  animation: shaking 0.3s;
}
.errorMessageAni2 {
  animation: shaking2 0.3s;
}

@keyframes shaking {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}

@keyframes shaking2 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 25px;
  cursor: default;
}

.input {
  width: 100%;
  height: 30px;
  padding: 5px 40px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: transparent;
  font-size: 14px;
}

.input:focus {
  box-shadow: 0 0 7px gray;
  width: 110%;
}

.visibility {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 20px;
}

.visibility:hover {
  color: #0075d5;
}

.signInUpBtn {
  box-sizing: content-box;
  width: 70%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #068fff;
  color: white !important;
  cursor: pointer;
}

.signInUpBtn:hover {
  /* background-color: #0075d5; */
  color: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.signInBottom {
  display: flex;
  justify-content: space-between;
  width: 77%;
}

.bottomText {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.goToSignInUpBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 7px;
  background-color: transparent;
  font-size: 13px;
  cursor: pointer;
}

.goToSignInUpBtn:hover {
  box-shadow: inset 0 0 9px #068fff;
  border-color: #068fff;
}

.signUpSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  row-gap: 20px;
}
