.resizeHandle1,
.resizeHandle2,
.resizeHandle3 {
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.1);
  z-index: 10;
}

.resizeHandle1 {
  right: 3px !important;
  width: 4px !important;
}

.resizeHandle2 {
  right: -7px !important;
  width: 4px !important;
}

.resizeHandle3 {
  height: 4px !important;
}

.resizeHandle1:hover,
.resizeHandle2:hover,
.resizeHandle3:hover {
  background-color: gray;
}
