.resizeHandle1,
.resizeHandle2,
.resizeHandle3 {
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.1);
  z-index: 10;
}

.resizeHandle1 {
  right: 3px !important;
  width: 4px !important;
}

.resizeHandle2 {
  right: -7px !important;
  width: 4px !important;
}

.resizeHandle3 {
  height: 4px !important;
}

.resizeHandle1:hover,
.resizeHandle2:hover,
.resizeHandle3:hover {
  background-color: gray;
}

.rc-tree {
  width: 100%;
  background-image: none !important;
}

.rc-tree-treenode {
  border: 0.5px solid transparent;
}

.rc-tree-treenode:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.rc-tree-treenode-selected {
  width: 98%;
  border: 0.5px solid #068fff;
  background-color: rgba(128, 128, 128, 0.2) !important;
}

.rc-tree-node-selected {
  background-color: transparent !important;
  box-shadow: none !important;
  opacity: 1 !important;
}

.rc-tree-switcher {
  background-image: none !important;
}
