.languageDescriptionContainer {
  width: 295px;
  height: 87px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.languageDescriptionContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: #eeeeee;
  top: 126px;
  left: 66px;
}

.description {
  width: 270px;
  height: 278px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size: 12px;
  margin-left: 10px;
}
.languageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 23px;
  margin-top: 30px;
  margin-left: 73px;
}

.languageTitleContainer {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 204px;
  margin-top: -69px;
}
