.sidebarSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  transition: 0.3s;
}

.sidebarSpace_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.searchForm {
  display: flex;
  justify-content: center;
  width: 90%;
}

.search_input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(127 127 127 / 10%);
}

.filesSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: calc(100vh - 146px);
  margin-top: 10px;
}

.filesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 30px;
  padding-right: 5px;
}

.TitleSpace {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expandStatusF,
.expandStatusT {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  color: gray;
  transition: 0.3s;
}

.expandStatusF:hover {
  transform: rotate(-90deg);
}

.expandStatusT:hover {
  transform: rotate(90deg);
}

.filesTitle {
  width: 70px;
  font-weight: bold;
}

.filesAddSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 100%;
}

.addFile:hover,
.addFolder:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.addFile {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 7px;
  font-size: 18px;
  font-variation-settings: "wght" 100, "GRAD" 0;
}

.addFile:hover::before {
  content: "New file";
  font-family: sans-serif;
  position: absolute;
  top: -30px;
  left: 15px;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  padding: 6px 8px;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
  color: black;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
}

.addFolder {
  position: relative;
  width: 27px;
  height: 25px;
  border-radius: 7px;
  font-size: 22px;
}

.addFolder:hover::before {
  content: "New folder";
  font-family: sans-serif;
  position: absolute;
  top: -30px;
  left: 15px;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  padding: 6px 8px;
  border-radius: 7px;
  background-color: rgb(200, 200, 200);
  color: black;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  height: 100%;
  padding-bottom: 5px;
  overflow: hidden;
  transition: height 0.3s;
}

.FC_ExpandStatus {
  height: 0;
  padding-bottom: 0;
}

.react_arborist {
  user-select: none;
  height: fit-content !important;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgb(80, 80, 80);
}

.arborist_row {
  display: flex;
  align-items: center;
  width: 99% !important;
  border: 0.5px solid transparent;
}

.arborist_row:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.arborist_row:focus {
  border-color: #068fff;
  background-color: rgba(128, 128, 128, 0.2);
}

.sidebarBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: fit-content;
  z-index: 1;
}

.sidebarBottomInner {
  display: flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  width: 90%;
  padding: 10px 0;
  border-top: 0.5px solid rgb(80, 80, 80);
}

.bottomIcons1,
.bottomIcons2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.bottomIcons1 {
  font-size: 21px !important;
}

.bottomIcons1:hover,
.bottomIcons2:hover {
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 1 !important;
}
