.mainBody {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 100;
}

.figureSpace {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.movingFigure1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  animation: movingFigure1 2s infinite ease-in-out alternate, rotate 5s infinite;
}

@keyframes movingFigure1 {
  0% {
    border-radius: 10%;
  }
  100% {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

.movingFigure2 {
  width: 150px;
  height: 150px;
  border: 1px solid white;
  animation: movingFigure2 2s infinite ease-in-out alternate,
    rotate 3s reverse infinite;
}

@keyframes movingFigure2 {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 10%;
    width: 20px;
    height: 20px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.errorSpace {
  position: absolute;
  bottom: -130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  color: #ff4b4b;
  animation: fadeIn 0.5s forwards 10s;
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

.homeButton {
  width: 80px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border-color: #ff4b4b;
  color: #ff4b4b;
  transition: 0.3s;
}

.homeButton:hover {
  border-color: #068fff;
  color: #068fff;
}
