.dashboardContainer {
  display: table-column;
  margin-left: 10px;
}

.recentContaier {
  margin-top: 100px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

.repositoriescontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.repositoriescontainer_empty {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  justify-content: flex-start;
  margin-top: 79px;
}

.imgContainer {
  display: flex;
  margin-top: 36px;
}

.imgContainer img {
  width: 302px;
  height: 152px;
  object-fit: cover;
}

.imgcontext {
  width: 318.67px;
  height: 251.19px;
  margin-right: 30px;
}

.p_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}

.textContainer {
  width: 302px;
  height: 152px;
  word-break: break-all;
  white-space: normal;
}

.startbuttoncontainer {
  margin-top: 120px;
  width: 569px;
  border-right: 1px solid #eeeeee;
}

.newrepobutton,
.newrepobutton2 {
  width: 150px;
  height: 15%;
  border: none;
  background-color: #068fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  animation: float 2s ease-in-out infinite;
  transition: background-color 0.3s;
  margin-top: 30px;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0); /* 원래 위치 */
  }
  50% {
    transform: translateY(-10px); /* 위로 20px 이동 */
  }
}

.newrepobutton2 {
  width: 150px;
  height: 15%;
  border: none;
  background-color: #068fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  animation: float 2s ease-in-out infinite;
  transition: background-color 0.3s;
  margin-top: 30px;
  position: relative;
  top: 54px;
  left: 167px;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0); /* 원래 위치 */
  }
  50% {
    transform: translateY(-10px); /* 위로 20px 이동 */
  }
}

.newrepobutton:hover {
  background-color: rgba(6, 143, 255, 0.8); /* 마우스 호버 시 배경색 옅게 */
}

.repositoriescontainer_empty_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
  margin-left: 117px;
  border-left: 1px solid #eeeeee;
}

.recommendcontainer {
  display: column;
  align-items: flex-end;
  margin-left: 30px;
}

.recommend {
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  width: 898px;
  margin-bottom: 24px;
}

.createRepoModal {
  background-color: #1e1e26;
  width: 410px;
  height: 413px;
  margin: auto;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
}

.createRepoModal button {
  color: #1e1e26;
}

.createRepoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.submitContainer input {
  background-color: #2e2e35;
  border: none;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 255px;
  height: 30px;
  margin-top: 20px;
}

.submitContainer input::placeholder {
  text-align: center;
}

/* .submitContainer:hover,
.submitContainer:focus {
  background-color: #65656a;
  border: none;
} */

.createRepoOverlay {
  display: flex;
}

.MenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAndCloseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton {
  background-color: transparent;
  position: absolute;
  right: 20px;
  color: white !important;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.DropdownAndsubmitWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DropdownMenucontainer {
  width: 295px;
  height: 159px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.DropdownMenucontainer button {
  background-color: #2e2e35;
  border: none;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  width: 280px;
  height: 30px;
  margin-top: 20px;
}

.DropdownMenucontainer button p {
  margin-left: 20px;
}

.submitAndButtonContainer {
  width: 255px;
  height: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitAndButtonContainer button {
  width: 150px;
  height: 15%;
  border: none;
  background-color: #068fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  transition: background-color 0.3s;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
}

/* 여기부터 모달
*/

.createRepoOverlay {
  display: flex;
}

.MenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAndCloseContainer {
  display: flex;
  align-items: center;
}
.closeButton {
  background-color: transparent;
  position: absolute;
  right: 20px;
  color: white !important;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.submitAndButtonContainer {
  width: 255px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitAndButtonContainer button {
  width: 150px;
  height: 15%;
  border: none;
  background-color: #068fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  transition: background-color 0.3s;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
}

.titleinput {
  text-align: center !important;
}

.selectedRepoContainer {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectedRepoContainer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eeeeee;
}

.selectedRepoContainer p {
  font-size: 16px;
  font-weight: 300;
  color: #eeeeee;
  margin-top: 40px;
}
