.exploreSpace {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.5s;
}

.exploreBtnOn {
  width: 132px;
  background-color: rgba(128, 128, 128, 0.5);
  overflow: visible;
}

.explore_left {
  width: 35px;
  height: 35px;
}

.pageShiftingBtn {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  transition: transform 0.3s;
}

.pageShiftingBtn:hover {
  background-color: rgba(128, 128, 128, 0.5);
  transform: rotate(90deg);
}

.explore_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95px;
  border-radius: 7px;
  z-index: 10;
}

.exploreHome,
.exploreRepo,
.exploreCode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 5px;
}

.exploreHome:hover,
.exploreRepo:hover,
.exploreCode:hover {
  background-color: gray;
}

.exploreHome:hover::before {
  content: "Home";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 13px;
}

.exploreRepo:hover::before {
  content: "Repository";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 13px;
}

.exploreCode:hover::before {
  content: "Code";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 13px;
}
