.editorSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  border-radius: 5px;
  overflow: hidden;
}

.sidebarToggle {
  width: 100%;
}

.leftSpace {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-right: 10px;
}

.leftWidthFull {
  width: 100% !important;
  transition: 0.3s;
}

.filesTabSpace {
  width: 100%;
  height: 30px;
  background-color: rgb(128 128 128 / 10%);
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 100%;
  border-top: 1px solid #068fff;
  border-right: 0.5px solid gray;
}

.tabEach {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  padding: 0 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tabEach:hover,
.tabRemove:hover {
  background-color: rgb(128 128 128 / 20%);
}

.tabIcon {
  width: 15px;
  height: 100%;
}

.tabRemove {
  width: 20px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.filePathSpace {
  width: 100%;
  height: 25px;
  border-bottom: 0.5px solid rgb(128 128 128 / 10%);
  background-color: transparent;
}

.editorAndTerminal {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
}

.editorWrapper {
  height: 70%;
  margin-bottom: 7px;
}

.withTerminal {
  height: 100% !important;
  transition: 0.3s;
}

.terminalSpace {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
}

.terminalOn {
  height: 0;
  transition: 0.3s;
}

.terminal_header {
  width: 100%;
  height: 30px;
  background-color: rgb(128 128 128 / 10%);
}
