.editorSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  border-radius: 10px;
  overflow: hidden;
}

.sidebarToggle {
  width: 100%;
}

.leftSpace {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.rightSpace {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.filesMenuSpace {
  width: 100%;
  height: 30px;
  background-color: rgb(128 128 128 / 10%);
}

.filePathSpace {
  width: 100%;
  height: 30px;
  background-color: transparent;
}
