.myPage_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
}

.card {
  position: relative;
  width: 300px;
  height: 460px;
  transition: 1s;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: showUp 2s;
}

.card > div {
  position: absolute;
  backface-visibility: hidden;
}

@keyframes showUp {
  0% {
    transform: translateY(-900px);
  }
  30% {
    transform: translateY(40px);
  }

  60% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
}

.flipBtn {
  height: 22px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.flipBtn:hover {
  border-color: #068fff;
  color: #068fff;
}
