.myPage_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
}

.wrap {
  width: 300px;
  height: 460px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;

  animation: showUp 2s;
}

.card > div {
  position: absolute;
  backface-visibility: hidden;
}

@keyframes showUp {
  0% {
    transform: translateY(-900px);
    opacity: 0;
  }
  30% {
    transform: translateY(40px);
    opacity: 1;
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.flipBtn {
  height: 22px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  animation: fadeIn 2s;
}

.flipBtn:hover {
  border-color: #068fff;
  color: #068fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
