.headerSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  height: 30px;
  padding: 10px;
}

.leftSide_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.pageShiftingBtn {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  transition: 0.3s;
}

.pageShiftingBtn:hover {
  background-color: rgba(128, 128, 128, 0.5);
  transform: rotate(90deg);
}

.middleSide_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IDE_name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 25px;
  font-weight: bold;
  color: #068fff !important;
  transition: 0.2s;
}

.rightSide_header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 200px;
}

.modeAniF,
.modeAniT {
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.modeAniF:hover,
.modeAniT:hover {
  border-color: rgba(128, 128, 128, 0.5);
}

.modeAniT {
  animation: modeAniT 1s forwards;
}

.modeAniF {
  animation: modeAniF 1s forwards;
}

@keyframes modeAniT {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes modeAniF {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
