.codePage_body {
  display: flex;
}

.sidebarResizable {
  display: flex;
  width: 250px;
  min-width: 170px;
  height: calc(100% - 50px);
}

.sidebarToggle {
  overflow: hidden;
  width: 0 !important;
  min-width: 0 !important;
  opacity: 0;
  transition: 0.3s;
}
