/* #0f0f23
#4E4FEB
#068FFF
#EEEEEE */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e26;
  color: #eeeeee;
}

body[data-theme="light"] {
  background-color: white;
  color: #00111b;
}

input,
button {
  color: white;
  border-color: white;
}

body[data-theme="light"] input,
body[data-theme="light"] button {
  color: black;
  border-color: black;
}

.material-icons,
.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}
