/* #0f0f23
#4E4FEB
#068FFF
#EEEEEE */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  padding: 0;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e26;
  color: #eeeeee;
}

body[data-theme="light"] {
  background-color: white;
  color: #00111b;
}

input,
button,
a {
  color: white;
  border-color: white;
}

body[data-theme="light"] input,
body[data-theme="light"] button,
body[data-theme="light"] a {
  color: black;
  border-color: black;
}

.material-icons,
.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.resizeHandle1 {
  right: 3px !important;
  width: 4px !important;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.1);
}

.resizeHandle2 {
  right: -7px !important;
  width: 4px !important;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.1);
}

.resizeHandle1:hover,
.resizeHandle2:hover {
  background-color: gray;
}

.rc-tree {
  width: 100%;
  background-image: none !important;
}

.rc-tree-treenode:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
